<!-- Product -->
<!-- <div class="col-xl-4 col-md-6"> -->
<div class="">
    <div class="product">
        <div class="product_image"><img src="http://via.placeholder.com/300" alt=""></div>
        <div class="product_content">
            <div class="product_info d-flex flex-row align-items-start justify-content-start">
                <div>
                    <div>
                            <p>products: {{ product.description }}</p>
                        <div class="product_name" (click)="seeProduct()"><h3>{{ product.name }}</h3></div>
                        <!-- <button type="text" (click)="seeProduct()" class="">{{ product.name }}</button> -->
                        <div class="product_category">In <a href="category.html">{{ product.categorie.name }}</a></div>
                    </div>
                </div>
                <div class="ml-auto text-right">
                    <div class="rating_r rating_r_3 home_item_rating"><i></i><i></i><i></i><i></i><i></i></div>
                    <div class="product_price text-right">{{ product.price }}<span>.00</span></div>
                </div>

            </div>
            <div class="product_buttons">
                <div class="text-right d-flex flex-row align-items-start justify-content-start">
                    <div class="product_button product_fav text-center d-flex flex-column align-items-center justify-content-center">
                        <div><div><img src="images/heart_2.svg" class="svg" alt=""><div>+</div></div></div>
                    </div>
                    <div class="product_button product_cart text-center d-flex flex-column align-items-center justify-content-center">
                        <div><div><img src="images/cart.svg" class="svg" alt=""><div>+</div></div></div>
                    </div>
                </div>
            </div>
            

        </div>
    </div>
</div>